body {
  background-color: white;
  display: flex;
}

.game-holder {
  display: block;
  margin: auto;
  padding: 20px;
  background-color: red;
}

#canvas {
  background-image: url("https://i.imgur.com/GGXD0OR.jpg");
  background-size: cover;
}


#boss-hp {
  -webkit-appearance: none;
   appearance: none;
   width: 820px;
   height: 50px;
   background-color: #383838; /* Grey background */
   outline: none;
   opacity: 1;
   -webkit-transition: .2s;
   transition: opacity .2s;
   cursor: pointer;
   overflow:hidden;
   border-radius: 10px;
}

#boss-hp::-webkit-slider-runnable-track {
  height: 50px;
  -webkit-appearance: none;
  color: #13bba4;
}

#boss-hp::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1px;
  height: 50px;
  background: #ee512f;
  cursor: pointer;
  box-shadow: -820px 0 0 820px #ee512f;
}

#popin {
  height: 500px;
  width: auto;
  position: absolute;
}

#result {
  position: absolute;
  width: 900px;
  height: 500px;
  background-color: white;
  transition: background-color 2s;
}

.hidden {
  display: none;
}

.lighten {
  transition: 
}